doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  link(rel='stylesheet' href='stylesheet2.css')
  link(href='https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Muli:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  title Dan Carey
section#bar
  // <img src="" alt="User1" id="icon">
  p#titletext= username
  p#emailtext= email
section#mainContent
  section#page1.page
    .dec
    section#row1.row
      .content#content1
        if contenttype1==="text"
          =contenttext1
        if contenttype1==="image"
          img.conimage(src=path1)
        if contenttype1==="embed"
          ="embedded video here"
      .content#content2
        if contenttype2==="text"
          =contenttext2
        if contenttype2==="image"
          img.conimage(src=path2)
        if contenttype2==="embed"
          ="embedded video here"
  section#page2.page
    .dec
    section#row3.row
      .content#content3=contenttext3
      .content#content4=contenttext4
  section#page3.page
    .dec
    section#row5.row
      .content#content5=contenttext5
      .content#content6=contenttext6
  section#page4.page
    .dec
    section#row7.row
      .content#content7
        | content7
      .content#content8
        | content8
  section#page5.page
    .dec
    section#row9.row
      .content#content9
        | content9
      .content#content10
        | content10
