doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  link(rel='stylesheet' href='stylesheet2.css')
  link(href='https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Muli:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  title Dan Carey
section#bar
  // <img src="" alt="User1" id="icon">
  p#titletext= title
  p#emailtext= email
section#mainContent

  section#page1.page
    .dec
    section#row1.row
      .content#content1
        if content1.contentType==="text"
          .contentext
            =content1.text
        if content1.contentType==="image"
          img.conimage(src=content1.imageName)
        if content1.contentType==="embed"
          ="embedded video here"
      .content#content2
        if content2.contentType==="text"
          .contentext
            =content2.text
        if content2.contentType==="image"
          img.conimage(src=content2.imageName)
        if content2.contentType==="embed"
          ="embedded video here"

  section#page2.page
    .dec
    section#row3.row
      .content#content3
        if contenttype3==="text"
          .contentext
            =contenttext3
        if contenttype3==="image"
          img.conimage(src=path1)
        if contenttype3==="embed"
          ="embedded video here"
      .content#content4
        if contenttype4==="text"
          .contentext
            =contenttext4
        if contenttype4==="image"
          img.conimage(src=path2)
        if contenttype4==="embed"
          ="embedded video here"

  section#page3.page
    .dec
    section#row5.row
      .content#content1
        if contenttype5==="text"
          .contentext
            =contenttext5
        if contenttype5==="image"
          img.conimage(src=path1)
        if contenttype5==="embed"
          ="embedded video here"
      .content#content6
        if contenttype6==="text"
          .contentext
            =contenttext6.contenttext
        if contenttype6==="image"
          img.conimage(src=path2)
        if contenttype6==="embed"
          ="embedded video here"

  section#page4.page
    .dec
    section#row7.row
      .content#content7
        | content7
      .content#content8
        | content8
        
  section#page5.page
    .dec
    section#row9.row
      .content#content9
        | content9
      .content#content10
        | content10
