.pagegalleryBox
  .content0
    case portfolio.page[index].content[0].contentType
    when "text"
        =portfolio.page[index].content[0].text
    when "image"
        img.image(src=portfolio.page[index].content[0].imageName)
    when "embedded"
        //- something will go here
  .content1
    case portfolio.page[index].content[1].contentType
    when "text"
        =portfolio.page[index].content[1].text
    when "image"
        img.image(src=portfolio.page[index].content[1].imageName)
    when "embedded"
        //- something will go here 


  .contentgallery
    .gallery0
        case portfolio.page[index].content[2].contentType
        when "text"
            =portfolio.page[index].content[2].text
        when "image"
            img.image(src=portfolio.page[index].content[2].imageName)
        when "embedded"
            //- something will go here 
    .gallery1
        case portfolio.page[index].content[3].contentType
        when "text"
            =portfolio.page[index].content[3].text
        when "image"
            img.image(src=portfolio.page[index].content[3].imageName)
        when "embedded"
            //- something will go here 
    .gallery2
        case portfolio.page[index].content[4].contentType
        when "text"
            =portfolio.page[index].content[4].text
        when "image"
            img.image(src=portfolio.page[index].content[4].imageName)
        when "embedded"
            //- something will go here 
    .gallery3
        case portfolio.page[index].content[5].contentType
        when "text"
            =portfolio.page[index].content[5].text
        when "image"
            img.image(src=portfolio.page[index].content[5].imageName)
        when "embedded"
            //- something will go here 
    .gallery4
        case portfolio.page[index].content[6].contentType
        when "text"
            =portfolio.page[index].content[6].text
        when "image"
            img.image(src=portfolio.page[index].content[6].imageName)
        when "embedded"
            //- something will go here 
    .gallery5
        case portfolio.page[index].content[7].contentType
        when "text"
            =portfolio.page[index].content[7].text
        when "image"
            img.image(src=portfolio.page[index].content[7].imageName)
        when "embedded"
            //- something will go here 